@tailwind base;
@tailwind components;
@tailwind utilities;

.input-shadow {
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.08);
}

.btn-primary {
    background: linear-gradient(to bottom, #68db7c, #59b760);
}
.btn-primary1 {
    background: linear-gradient(to top, #59b760, #68db7c);
}